<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="vendas" href="/tabs/vendas">
      <ion-icon aria-hidden="true" name="storefront"></ion-icon>
      <ion-label>Vendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="impressao" href="/tabs/impressao">
      <ion-icon aria-hidden="true" name="print"></ion-icon>
      <ion-label>Impressão</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorios" href="/tabs/relatorios">
      <ion-icon aria-hidden="true" name="bar-chart"></ion-icon>
      <ion-label>Relatórios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracoes" href="/tabs/configuracoes">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
